<%- include ("partials/header.ejs") %>
<h1>About Me</h1>
<div class="container">
  <img
    class="profile d-block mx-auto"
    src="images/my-photo.jpeg"
    alt="profile picture"
  />
  <p class="text-secondary mt-5">
    I am Sasmitha Lochana, a final year undergraduate currently exploring the fundamentals of
    Express.js routing. Through this project, I am not only learning how to
    handle different routes and requests in a Node.js environment, but also
    extending my understanding by implementing features such as dynamic post
    management and user interactions. This hands-on experience is helping me
    build a solid foundation in backend web development and preparing me for
    more advanced concepts in the future.
  </p>
</div>

<%- include ("partials/footer.ejs") %>
